body {
  background: #f8f8f8;
  min-height: 100vh;
  margin: 0;
  font-family: "franklin-gothic-urw", sans-serif;
}
body #footer {
  width: 100%;
  max-width: 1200px;
  background-color: #9DB5B2;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  text-align: center;
}
body #footer img {
  display: inline-block;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(100, 100, 100, 0.18);
          box-shadow: 0 6px 12px rgba(100, 100, 100, 0.18);
  height: 100%;
  position: relative;
}
#container header {
  width: 100%;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container header a {
  display: block;
  margin: auto;
  position: relative;
  text-decoration: none;
  text-align: center;
}
#container header span#top {
  font-weight: 900;
  color: #010101;
  letter-spacing: 2rem;
  font-size: 8rem;
  text-transform: uppercase;
  display: block;
}
#container header span#bottom {
  font-family: adelia;
  color: #010101;
  font-size: 9.25rem;
  display: block;
  text-transform: lowercase;
  line-height: 1;
  margin-left: -0.25em;
  margin-bottom: 0.5em;
}
#container header h1 {
  position: absolute;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  bottom: -6%;
  margin: 0 0 0 -10px;
  font-size: 119pt;
  color: #fff;
  letter-spacing: 8px;
}
#container header #adminLogo {
  display: block;
  margin: auto;
}
#container .innerContent {
  padding: 15px 30px;
}
#container .innerContent #instructions {
  font-size: 2rem;
  color: #444;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-top: 0;
}
#container .innerContent form#login-form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 25px;
  background-color: #878E99;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}
#container .innerContent form#login-form label {
  font-weight: 500;
}
#container .innerContent form#articleForm {
  width: 100%;
}
#container .innerContent form#articleForm label {
  display: block;
  font-size: 0.9rem;
  margin: 0.5em 0;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.32px;
}
#container .innerContent form#articleForm input, #container .innerContent form#articleForm textarea {
  width: 100%;
  display: block;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "franklin-gothic-urw", sans-serif;
  resize: none;
}
#container .innerContent form#articleForm input[name=title] {
  height: 2.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #010101;
  font-weight: 500;
  padding: 10px;
}
#container .innerContent form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#container .innerContent form ul li {
  margin: 15px 0;
}
#container .innerContent form .buttons input[type=submit] {
  border: 0;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 700;
  font-family: "franklin-gothic-urw";
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#container .innerContent form .buttons input[type=submit]:hover {
  background-color: #dedede;
  border-radius: 25px;
  cursor: pointer;
}
#container .innerContent #adminIntro h2 {
  margin: 0.25em 0;
  text-align: center;
}
#container .innerContent #adminIntro p {
  margin: 0.5em 0;
  background: #A2C5AC;
  width: 100%;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .innerContent .statusMessage {
  width: 50%;
  background: #dedede;
  padding: 7px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  color: orange;
  border-radius: 12px;
  margin-bottom: 25px;
}
#container .innerContent #articleList {
  width: 100%;
}
#container .innerContent #articleList tr:nth-of-type(n+2) {
  position: relative;
  overflow: hidden;
}
#container .innerContent #articleList tr:nth-of-type(n+2):after {
  content: "edit";
  position: absolute;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  bottom: 25%;
  color: #3c5f46;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.95rem;
  opacity: 0;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#container .innerContent #articleList tr:nth-of-type(n+2):hover {
  cursor: pointer;
  background: #D3D5D4;
}
#container .innerContent #articleList tr:nth-of-type(n+2):hover:after {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 1;
}
#container .innerContent #articleList th {
  text-align: left;
  background-color: #878E99;
  padding: 7px 12px;
  font-weight: 1.5rem;
}
#container .innerContent #articleList th:first-of-type {
  width: 33%;
}
#container .innerContent #articleList td {
  padding: 7px 12px;
}
#container .innerContent a:link, #container .innerContent a:visited {
  color: #7F6A93;
  text-decoration: none;
  font-weight: 500;
}
#container .innerContent a:link.addBtn, #container .innerContent a:visited.addBtn {
  display: inline-block;
  border: 3px solid #7F6A93;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  position: relative;
  letter-spacing: 0.18px;
}
#container .innerContent a:link.addBtn span, #container .innerContent a:visited.addBtn span {
  position: relative;
  z-index: 2;
}
#container .innerContent a:link.addBtn:before, #container .innerContent a:visited.addBtn:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7F6A93;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  z-index: 1;
}
#container .innerContent a:link.addBtn:hover, #container .innerContent a:visited.addBtn:hover {
  color: #fff;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#container .innerContent a:link.addBtn:hover:before, #container .innerContent a:visited.addBtn:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#login-form {
  width: 50%;
}

svg {
  width: 100%;
  padding: 20px;
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 2.5s ease forwards;
          animation: dash 2.5s ease forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}